@model SARASWATIPRESSNEW.Models.InvoiceCumChallan
@{
    ViewBag.Title = "Challan Save";
    Layout = "~/Views/Shared/_BdmsLayoutPage.cshtml";
}

<div class="panel-heading">
    <h3 class="panel-title">
        <strong>Challan Details </strong>
        <br />
        <small style="font-size: 14px; color: red;"> Challan cancellation will be made only when consignment or challan(s) are needed to cancel in some unavoidable circumstance. In that case cancelled challan number can not be recovered. User must keep a copy of that particular challan before cancellation. </small>
    </h3>
</div>
<div class="panel-body">
    <div class="form-group">
        <label class="col-md-1 col-xs-2 control-label">From Date</label>
        <div class="col-md-3 col-xs-4">
            @Html.TextBoxFor(a => a.startDate, new { @id = "txtStartDate", @maxlength = "15", @class = "form-control" })
        </div>
        <label class="col-md-1 col-xs-2 control-label">To Date</label>
        <div class="col-md-3 col-xs-4">
            @Html.TextBoxFor(a => a.endDate, new { @id = "txtEndDate", @maxlength = "15", @class = "form-control" })
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="form-group">
        <label class="col-md-1 col-xs-2 control-label">District</label>
        <div class="col-md-3 col-xs-6">
            <select id="ddlDistrict" class="form-control select2"></select>
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="form-group">
        <label class="col-md-1 col-xs-2 control-label">Circle</label>
        <div class="col-md-3 col-xs-6">
            <select id="ddlCircle" class="form-control select2"></select>
        </div>
    </div>
</div>

<div class="panel-body">
    <div class="form-group">
        <label class="col-md-1 col-xs-2 control-label">Challan Number</label>
        <div class="col-md-3 col-xs-6">
            <input type="text" id="challanNumber" class="form-control" /> &nbsp;
            <input type="button" id="btnView" value="View" style="width: 100px" class="btn btn-info btn-block" onclick="SrachByChallanNo()">
        </div>
    </div>
</div>

<div class="panel-body" id="dvChallanDetail">
</div>

<div id="dialog" title="Edit Challan"></div>

@section scripts {
    <link href="~/resources/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/resources/css/noty.css" rel="stylesheet" />
    <script src="~/Scripts/noty.min.js"></script>
    <script src="~/Scripts/jquery.scannerdetection.compatibility.js"></script>
    <script src="~/Scripts/jquery.scannerdetection.js"></script>
    <link href="~/resources/css/BarCode/BarCode.css" rel="stylesheet" />
    <script>
        $(function () {
            var date = new Date();
            var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);

            $("#txtStartDate").datepicker({
                dateFormat: 'dd-M-yy',
                onSelect: function (dateText) {
                    if ($("#ddlCircle").val() != "0" && $("#ddlDistrict").val() != "0") {
                        LoadChallanDetails($("#txtStartDate").val(), $("#txtEndDate").val(), $("#ddlCircle").val(), $("#ddlDistrict").val(), $("#challanNumber").val().trim());
                    }
                }
            }).datepicker('setDate', firstDay);

            $("#txtEndDate").datepicker({
                dateFormat: 'dd-M-yy',
                onSelect: function (dateText) {
                    if ($("#ddlCircle").val() != "0" && $("#ddlDistrict").val() != "0") {
                        LoadChallanDetails($("#txtStartDate").val(), $("#txtEndDate").val(), $("#ddlCircle").val(), $("#ddlDistrict").val(), $("#challanNumber").val().trim());
                    }
                }
            }).datepicker('setDate', date);

            LoadDistrict();
        });

        $(document).off("change", "#ddlDistrict").on("change", "#ddlDistrict", function (e) {
            LoadCircleByDistrict($(this).val());
        });

        $(document).off("change", "#ddlCircle").on("change", "#ddlCircle", function (e) {
            LoadChallanDetails($("#txtStartDate").val(), $("#txtEndDate").val(), $(this).val(), $("#ddlDistrict").val(), $("#challanNumber").val().trim());
        });

        function LoadDistrict() {
            $.ajax({
                url: '@(Url.Action("GetDistrictDetails", "InvoiceCumChallan", new { area = "" }))',
                type: 'POST'
            }).done(function (data) {
                var list = document.getElementById("ddlDistrict");
                list.innerHTML = "";
                list.add(new Option("All District", "-1"));
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        list.add(new Option(data[i].Text, data[i].Value));
                    }
                }
            }).always(function (data) {
                if ($("#ddlDistrict").val() == "-1") {
                    var list = document.getElementById("ddlCircle");
                    list.innerHTML = "";
                    list.add(new Option("All Circle", "-1"));
                    LoadChallanDetails($("#txtStartDate").val(), $("#txtEndDate").val(), $("#ddlCircle").val(), $("#ddlDistrict").val(), $("#challanNumber").val().trim());
                }
            });
            }

            function LoadCircleByDistrict(distId) {
                if (distId == "-1") {
                    var list = document.getElementById("ddlCircle");
                    list.innerHTML = "";
                    list.add(new Option("All Circle", "-1"));
                    LoadChallanDetails($("#txtStartDate").val(), $("#txtEndDate").val(), $("#ddlCircle").val(), $("#ddlDistrict").val(), $("#challanNumber").val().trim());
                } else {
                    $.ajax({
                        url: '@(Url.Action("GetCircleDetailsOfaDistrict", "InvoiceCumChallan", new { area = "" }))',
                        type: 'POST',
                        data: { DistrictID: distId }
                    }).done(function (data) {
                        var list = document.getElementById("ddlCircle");
                        list.innerHTML = "";
                        list.add(new Option("All Circle", "-1"));
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                list.add(new Option(data[i].Text, data[i].Value));
                            }
                        }
                        LoadChallanDetails($("#txtStartDate").val(), $("#txtEndDate").val(), $("#ddlCircle").val(), $("#ddlDistrict").val(), $("#challanNumber").val().trim());
                    });
                }
            }

        function SrachByChallanNo()
        {
            LoadChallanDetails($("#txtStartDate").val(), $("#txtEndDate").val(), $("#ddlCircle").val(), $("#ddlDistrict").val(), $("#challanNumber").val().trim())
        }

        function LoadChallanDetails(fromDate, toDate, CirID, DisID, challanNumber) {
                $.ajax({
                    url: '@(Url.Action("GetChallanViewData", "InvoiceCumChallanReqList", new { area = "" }))',
                type: 'POST',
                data: { startDate: fromDate, endDate: toDate, CircleID: CirID, DistrictID: DisID, challanNumber: challanNumber , isPartialViewRequested: true, isFinalRequest: true }
            }).done(function (data) {
                if (data != null && data != "") {
                    $("#dvChallanDetail").empty().append(data);
                }
            });
            }

            $(document).off("click", ".chkchild").on("click", ".chkchild", function (e) {
                var chkLength = $('.chkchild:checked').length;
                var allLength = $('.chkchild').length;
                if (allLength == chkLength) {
                    $('.chkparent').prop('checked', true);
                } else {
                    $('.chkparent').prop('checked', false);
                }
            });

            $(document).off("click", ".chkparent").on("click", ".chkparent", function (e) {
                $('.chkchild').prop('checked', $(this).is(':checked'));
            });

            $(document).off("click", "#btnConfirmInvoice").on("click", "#btnConfirmInvoice", function (e) {
                if (confirm('Are you sure to confirm the selected item(s)?')) {
                    var selected = [];
                    $('tbody#tbdyInvCumChalNewList tr.cb input[type=checkbox]').each(function () {
                        if ($(this).is(":checked")) {
                            var obj = new Object();
                            obj.ChallanId = $(this).attr('data-challanid');
                            obj.ContactPerson = $(this).attr('data-crclinsp-name');
                            obj.MobileNo = $(this).attr('data-crclinsp-phone');
                            obj.EmailId = $(this).attr('data-crclinsp-email');

                            selected.push(obj);
                        }
                    });

                    $.ajax({
                        url: '@(Url.Action("ConfirmCreateInvoice", "InvoiceCumChallanReqList", new { area = "" }))',
                        type: 'POST',
                        data: { pData: escape(JSON.stringify(selected)) }
                    }).done(function (data) {
                        if (data != null && data != "") {
                            alert(data.Message);
                            if (data.Success > 0) {
                                LoadChallanDetails($("#txtStartDate").val(), $("#txtEndDate").val(), $("#ddlCircle").val(), $("#ddlDistrict").val());
                            }
                        }
                    });
            } else {
                return false;
            }
            });

        $(document).off("click", "#btnUnconfirmInvoice").on("click", "#btnUnconfirmInvoice", function (e) {
            var s = [];
            $('tbody#tbdyInvCumChalNewList tr.cb input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
                    var obj = new Object();
                    obj.ChallanId = $(this).attr('data-challanid');
                    s.push(obj);
                }
            });

            if (s.length > 1) {
                alert("Multiple challan cancellation at a time is not allowed. Please check only one challan that you wat to revert.");
                $('tbody#tbdyInvCumChalNewList tr.cb input[type=checkbox]').each(function () {
                    if ($(this).is(":checked")) {
                        $(this).prop("checked", false);
                    }
                });
            } else if (s.length <= 0) {
                alert("No challan has been selected.");
            } else {
                var chllnNo = "";
                $('tbody#tbdyInvCumChalNewList tr.cb input[type=checkbox]').each(function () {
                    if ($(this).is(":checked")) {
                        chllnNo = $(this).attr('data-challannum');
                    }
                });

                if (confirm("Are you sure to revert " + (chllnNo == "" ? "the selected item" : "Challan No: " + chllnNo) + "?")) {
                    var selected = [];
                    $('tbody#tbdyInvCumChalNewList tr.cb input[type=checkbox]').each(function () {
                        if ($(this).is(":checked")) {
                            var obj = new Object();
                            obj.ChallanId = $(this).attr('data-challanid');
                            obj.ContactPerson = $(this).attr('data-crclinsp-name');
                            obj.MobileNo = $(this).attr('data-crclinsp-phone');
                            obj.EmailId = $(this).attr('data-crclinsp-email');

                            selected.push(obj);
                        }
                    });

                    $.ajax({
                        url: '@(Url.Action("UnconfirmCreateInvoice", "InvoiceCumChallanReqList", new { area = "" }))',
                        type: 'POST',
                        data: { pData: escape(JSON.stringify(selected)) }
                    }).done(function (data) {
                        if (data != null && data != "") {
                            alert(data.Message);
                            if (data.Success > 0) {
                                LoadChallanDetails($("#txtStartDate").val(), $("#txtEndDate").val(), $("#ddlCircle").val(), $("#ddlDistrict").val());
                            }
                        }
                    });
                } else {
                    return false;
                }
            }
        });

        $(document).off("click", ".aEdit").on("click", ".aEdit", function (e) {
            debugger;
            var challanId = $(this).attr('data-challanid');
            $.ajax({
                url: '@(Url.Action("GetChallanDetailsByChallanIdSimplified", "InvoiceCumChallanReqList", new { area = "" }))' + '?ChallanId=' + challanId,
                type: 'GET'
            }).done(function (data) {
                $("#dialog").empty().append(data);
                debugger;
                $.ajax({
                    url: '@(Url.Action("GetTransporterDetails", "InvoiceCumChallan", new { area = "" }))',
                    type: 'POST'
                }).done(function (result) {
                    var list = document.getElementById("ddlTransporter");
                    list.innerHTML = "";
                    list.add(new Option("Select Transporter", "0"));
                    if (result.length > 0) {
                        for (var i = 0; i < result.length; i++) {
                            list.add(new Option(result[i].Text, result[i].Value));
                        }
                    }

                    $("#ddlTransporter").val($("#hdnTransportedId").val()).change();

                    $("#dialog").dialog({
                        modal: true,
                        resizable: false,
                        width: 750
                    });
                });
            });
        });
        $(document).off("click", ".challancancel").on("click", ".challancancel", function (e) {

            if (confirm('Do you want to cancel this challan parmanently?')) {
                var challanId = $(this).attr('data-challanid');
                $.ajax({
                    url: '@(Url.Action("CancelChallan", "InvoiceCumChallan", new { area = "" }))',
                    type: 'POST',
                    data: { challanId: challanId }
                }).done(function (result) {
                    $(this).closest("tr").remove()
                    alert(result.Message);
                });
            }


        });

        $(document).off("click", "#btnSaveChallanHeader").on("click", "#btnSaveChallanHeader", function (e) {
            var pData = new Object();
            pData.ChallanId = $("#hdnChallanId").val();
            pData.VEHICLE_NO = $("#txtVEHICLENO").val();
            pData.CONSIGNEE_NO = $("#txtCONSIGNEENO").val();
            pData.TransporterID = $("#ddlTransporter").val();
            pData.ManualChallanNo = $("#ManualChallanNo").val();
            //alert(pData.ManualChallanNo);
            $.ajax({
                url: '@(Url.Action("UpdateFinalChallanHeader", "InvoiceCumChallan", new { area = "" }))',
                type: 'POST',
                data: pData
            }).done(function (data) {
                if (data != null && data != "") {
                    alert(data.Message);
                    if (data.Success > 0) {
                        $("#dialog").dialog("close");
                        //$("#dialog").dialog("destroy");
                        LoadChallanDetails($("#txtStartDate").val(), $("#txtEndDate").val(), $("#ddlCircle").val(), $("#ddlDistrict").val());
                    }
                }
            });
        });

        $(document).off("click", "#btnSendSmsToAll").on("click", "#btnSendSmsToAll", function (e) {
            var selected = [];
            //$('tbody#tbdyInvCumChalNewList tr.cb').each(function () {
            //    var obj = new Object();
            //    obj.ChallanId = $(this).attr('data-challanid');
            //    obj.ContactPerson = $(this).attr('data-crclinsp-name');
            //    obj.MobileNo = $(this).attr('data-crclinsp-phone');
            //    obj.EmailId = $(this).attr('data-crclinsp-email');

            //    selected.push(obj);
            //});
            //$('input:checkbox.class').each(function () {
            //    var sThisVal = (this.checked ? $(this).val() : "");
            //});

           // var values = (function () {
              
                $(".chkchild:checked").each(function () {
                    //var obj = new Object();
                      //  obj.ChallanId = $(this).attr('data-challanid');
                        //obj.ContactPerson = $(this).attr('data-crclinsp-name');
                       // obj.MobileNo = $(this).attr('data-crclinsp-phone');
                       // obj.EmailId = $(this).attr('data-crclinsp-email');
                        selected.push($(this).attr('data-challanid'));
                });
               
         //   })()

                if (selected.length === 0)
                {
                    alert("Select Challan");
                    return;
                    }

            $.ajax({
                url: '@(Url.Action("SMSSend", "InvoiceCumChallanReqList", new { area = "" }))',
                type: 'POST',
                data: { griddata: selected.join(",") }
            }).done(function (result) {
                alert("SMS Sent");
            });
        });


        $(document).off("click", "#btnSendEmailToAll").on("click", "#btnSendEmailToAll", function (e) {
           // alert();
            var selected = [];
            //$('tbody#tbdyInvCumChalNewList tr.cb').each(function () {
            //    var obj = new Object();
            //    obj.ChallanId = $(this).attr('data-challanid');
            //    obj.ContactPerson = $(this).attr('data-crclinsp-name');
            //    obj.MobileNo = $(this).attr('data-crclinsp-phone');
            //    obj.EmailId = $(this).attr('data-crclinsp-email');

            //    selected.push(obj);
            //});
            //$('input:checkbox.class').each(function () {
            //    var sThisVal = (this.checked ? $(this).val() : "");
            //});

            // var values = (function () {

            $(".chkchild:checked").each(function () {
                //var obj = new Object();
                //  obj.ChallanId = $(this).attr('data-challanid');
                //obj.ContactPerson = $(this).attr('data-crclinsp-name');
                // obj.MobileNo = $(this).attr('data-crclinsp-phone');
                // obj.EmailId = $(this).attr('data-crclinsp-email');
                selected.push($(this).attr('data-challanid'));
            });

            //   })()

            if (selected.length === 0) {
                alert("Select Challan");
                return;
            }

            $.ajax({
                url: '@(Url.Action("SendEmail", "InvoiceCumChallanReqList", new { area = "" }))',
                type: 'POST',
                data: { griddata: selected.join(",") }
            }).done(function (result) {
                alert("Mail Sent");
            });
        });

        //For MVC Report Export to Excel using Crystal Report - Start
        $(document).off("click", "#btnExportToExcel").on("click", "#btnExportToExcel", function (e) {
            try {
                window.open("@(Url.Action("DataExportToExcel", "InvoiceCumChallanReqList", new { area = "" }))?startDate=" + $("#txtStartDate").val() + "&endDate=" + $("#txtEndDate").val() + "&CircleID=" + $("#ddlCircle").val() + "&DistrictID=" + $("#ddlDistrict").val());
            } catch (ex) {
                alert(ex.message);
            }
        });
        //For MVC Report Export to Excel using Crystal Report – End

        @*For MVC Report Export to Excel using Crystal Report - Start
        $(document).off("click", "#btnExportToExcel").on("click", "#btnExportToExcel", function (e) {
            @*var a = "@(Url.Action("BinderBookDtlExportToExcel", "BinderWiseBookQuantityReport", new { area = "" }))?startDate=" + $("#txtStartDate").val() + "&endDate=" + $("#txtEndDate").val() + "&BinderId=" + $("#ddlBinder").val();
            console.log(a);*@
            @*try {
                window.open("@(Url.Action("BinderBookDtlExportToExcel", "BinderWiseBookQuantityReport", new { area = "" }))?startDate=" + $("#txtStartDate").val() + "&endDate=" + $("#txtEndDate").val() + "&BinderId=" + $("#ddlBinder").val());
        } catch (ex) { }
        });*@
        //For MVC Report Export to Excel using Crystal Report - End
    </script>
}