@model IEnumerable<SARASWATIPRESSNEW.Models.MstAcademicYear>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BdmsLayoutPage.cshtml";
}


<div class="panel-heading">
    <h3 class="panel-title"><strong>Academic Year</strong></h3>
</div>

<div class="panel-body">
    <table id="tblBtn" cellpadding="0" class="table" cellspacing="0" border="0" style="width: 100%;">
        <tr>
            <td><a href="#" style="width: 120px;" class="btn btn-info btn-block">Add New</a></td>
            
        </tr>
    </table>

    <div style="width: 100%; height: 450px; overflow: scroll;">
        <table border="0" style="width: 400px;border: 1px solid black;" class="table">
            <tr>
                <th style="text-align: left; width: 50%;">Academic Year</th>
                
                <th style="text-align: left; width: 50%;">PFX_REQ</th>
                <th style="text-align: left; width: 50%;">PFX_CHALLAN</th>
                <th style="text-align: left; width: 50%;">PFX_SCHCHALLAN</th>
                <th style="text-align: left; width: 50%;">PFX_INVOICE</th>

                <th style="text-align: left; width: 50%;">Active</th>
            </tr>
            @try
            {
                foreach (var objModel in Model)
                {
                    <tr>
                        <td style="text-align: left">
                            @objModel.AcademicYear

                        </td>
                        <td style="text-align: left">
                            @objModel.PFX_REQ

                        </td>
                        <td style="text-align: left">
                            @objModel.PFX_CHALLAN

                        </td>
                        <td style="text-align: left">
                            @objModel.PFX_SCHCHALLAN

                        </td>
                        <td style="text-align: left">
                            @objModel.PFX_INVOICE

                        </td>
                        <td style="text-align: left">

                            @*@(objModel.ISACTIVE == 1 ? "Yes" : "No")*@
                            <input data-acyearid="@objModel.AcademicYearID" class="activeacyear" type="checkbox" @(objModel.ISACTIVE == 1 ? "Checked" : "") />

                        </td>
                    </tr>
                }
            }
            catch (Exception ex)
            {
                <tr>
                    <td style="text-align: center"></td>
                </tr>
            }
        </table>



    </div>
</div>

<script>
    $(function () {
        $('.activeacyear').on('click', function () {
            //debugger;
            var ischecked = $(this).prop('checked');
              //alert(ischecked);
            var acyearid = $(this).data('acyearid');
            // alert(acyearid);

            if (ischecked == true)
            {
                var activeval = 1;
            }
            else {
                var activeval = 0;
            }
            $.ajax({
                url: '@(Url.Action("UpdateStatus", "MstAcademicYear", new { area = "" }))',
                type: 'POST',
                data: { acyearid: acyearid, val: activeval }
            }).done(function (data) {
                window.location.href = "@Url.Action("Index", "MstAcademicYear", new { area = "" })";
            });
        });
    });

</script>
