@model IEnumerable<SARASWATIPRESSNEW.Models.School>
@{
    ViewBag.Title = "Index";
}

<h1>Circle User List</h1>
    <table width="100%">
        <tr>
            <th>District</th>
            <th>Circle</th> 
            <th>School Code</th>
            <th>School Name</th> 
            <th>Address</th> 
            <th>Mobile No</th>
            <th>Alternative Mobile No</th> 
            <th>Email Id</th> 
           
        </tr>
        @foreach(var req in Model)
        {
        <tr>
            <td style="text-align:center">@req.DistrictName</td>      
            <td style="text-align:center">@req.CircleName</td>      
            <td style="text-align:center">@req.School_Code</td>      
            <td style="text-align:center">@req.School_name</td>      
            <td style="text-align:center">@req.School_Adrees</td>      
            <td style="text-align:center">@req.School_Mobile</td> 
            <td style="text-align:center">@req.School_alt_Mobile</td>      
            <td style="text-align:center">@req.School_Emailid</td>           
        </tr>
        }
    </table>
