@model SARASWATIPRESSNEW.Models.School
@{
    ViewBag.Title = "Index";
}
<head>        
        <!-- META SECTION -->
    <title>Create Circle User</title>      
    <script type="text/javascript" src="/resources/js/plugins/bootstrap/bootstrap-select.js"></script>
    <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" id="theme" href="/resources/css/theme-default.css" />
    </head>


<!-- End Css Link -->
<div class="page-container" >
    <div class='page-sidebar'>  	 
			<ul class='x-navigation'>  
			<li class='xn-logo'>  
			<a href='index.html'>WB Text Book</a>  
			<a href='#' class='x-navigation-control'></a>  
			</li>  
			<li class='xn-profile'>  
			<div class='profile'>  
			
			<div class='profile-data'>  
			<div class='profile-data-name'>Circle User</div>  
			  
			</div>  
			</div>  
			</li>  
			   
			 
			<li><a href='/Home/Requisition'><span class='fa fa-image'></span>New Requisition</a></li>  
			<li><a href='/RequisionView/Index'><span class='fa fa-image'></span>Requisition List</a></li>
                <li><a href='/StockUpdate/index'><span class='fa fa-image'></span>Stock Details</a></li> 
                <li class="active"><a href='/CircleUserEdit/Index'><span class='fa fa-image'></span>Update Profile</a></li> 
			   <li><a href='/ForgotPassword/Index'><span class='fa fa-image'></span>Change Password</a></li>
                <li><a href='/BookWiseStockReport/Index'><span class='fa fa-image'></span>Bookwise Requsition Report</a></li>
                <li><a href='/CircleLogout/Index'><span class='fa fa-image'></span>Log out</a></li>
		 
			</div>
    
@using (Html.BeginForm("Index", "School", FormMethod.Post))
{
   
     <div class="page-content">
           <div style="width: auto; text-align:left; background-color: white;">
              <img src="/resources/img/reports/header.jpg" />
                  </div>
         <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                            <div class="panel panel-default">
                                <div class="panel-heading">

                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-md-1 col-xs-6 control-label">@Html.Label("District Name")</label>
                                            <div class="col-md-3 col-xs-12">
                                                @Html.Label(((SARASWATIPRESSNEW.UserSec)System.Web.HttpContext.Current.Session["UserSec"]).DistrictNname)
                                            </div>
                                            <label class="col-md-1 col-xs-6 control-label">@Html.Label("Circle Name")</label>   <div class="col-md-3 col-xs-12">
                                                @Html.Label(((SARASWATIPRESSNEW.UserSec)System.Web.HttpContext.Current.Session["UserSec"]).CircleName)
                                            </div>
                                            <label class="col-md-1 col-xs-6 control-label">@Html.Label("User Name")</label>   <div class="col-md-3 col-xs-12">
                                                @Html.Label(((SARASWATIPRESSNEW.UserSec)System.Web.HttpContext.Current.Session["UserSec"]).UserId)
                                            </div>
                                        </div>
                                    </div>

                                    <h3 class="panel-title"><strong>Add School</strong></h3>
                                   <!-- <ul class="panel-controls">
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                                    </ul> -->
                                </div>
                                <div class="panel-body" >
                             <div class="form-group">
                                        
                                        @Html.Label("School U-dise Code", new { @class="col-md-1 col-xs-6 control-label"})
                                        <div class="col-md-3 col-xs-12"> 
                                                                                                                          
                                            @Html.TextBoxFor(a=>a.School_Code,new {@class="form-control"})
                                              @Html.ValidationMessageFor(a => a.School_Code, null, new {style="color:red" })
                                           
                                        </div>
                                    </div>   
                                 </div>
                                <div class="panel-body" >
                             <div class="form-group">
                                        
                                        @Html.Label("School Name", new { @class="col-md-1 col-xs-6 control-label"})
                                        <div class="col-md-3 col-xs-12"> 
                                                                                                                          
                                            @Html.TextBoxFor(a=>a.School_name,new {@class="form-control"})
                                              @Html.ValidationMessageFor(a => a.School_name, null, new {style="color:red" })
                                           
                                        </div>
                                    </div>   
                                 </div>
                                <div class="panel-body" >
                             <div class="form-group">
                                        
                                        @Html.Label("School Address", new { @class="col-md-1 col-xs-6 control-label"})
                                        <div class="col-md-3 col-xs-12"> 
                                                                                                                          
                                            @Html.TextBoxFor(a=>a.School_Adrees,new {@class="form-control"})
                                              @Html.ValidationMessageFor(a => a.School_Adrees, null, new {style="color:red" })
                                           
                                        </div>
                                    </div>   
                                 </div>
                                <div class="panel-body" >
                             <div class="form-group">
                                        
                                        @Html.Label("School Contact No", new { @class="col-md-1 col-xs-6 control-label"})
                                        <div class="col-md-3 col-xs-12"> 
                                                                                                                          
                                            @Html.TextBoxFor(a=>a.School_Mobile,new {@class="form-control"})
                                              @Html.ValidationMessageFor(a => a.School_Mobile, null, new {style="color:red" })
                                           
                                        </div>
                                    </div>   
                                 </div>
                                <div class="panel-body" >
                             <div class="form-group">
                                        
                                        @Html.Label("School Alternative Contact No", new { @class="col-md-1 col-xs-6 control-label"})
                                        <div class="col-md-3 col-xs-12"> 
                                                                                                                          
                                            @Html.TextBoxFor(a=>a.School_alt_Mobile,new {@class="form-control"})
                                              @Html.ValidationMessageFor(a => a.School_alt_Mobile, null, new {style="color:red" })
                                           
                                        </div>
                                    </div>   
                                 </div>
                                <div class="panel-body" >
                             <div class="form-group">
                                        
                                        @Html.Label("School Email ID", new { @class="col-md-1 col-xs-6 control-label"})
                                        <div class="col-md-3 col-xs-12"> 
                                                                                                                          
                                            @Html.TextBoxFor(a=>a.School_Emailid,new {@class="form-control"})
                                             @* @Html.ValidationMessageFor(a => a.School_Emailid, null, new {style="color:red" })*@
                                            <br />
                                             <button type="submit" id="btnSave" name="Command" class="btn btn-mini btn-danger" value="Add School" onclick="Submit();">Save</button>
                                           
                                        </div>
                                    </div>   
                                 </div>

                                <div>
                                    <table>
                                        <tr>
                                            <td  style="visibility:hidden">
                @Html.TextBoxFor(a => a.stat, new { @id = "mystat" })
            </td>   
                                        </tr>
                                    </table>
                                </div>

                                </div>
                                </div>
                        </div>
             </div>
         </div>
    
      
}
    </div>
    
    
<script>
    function Submit() {
        if (confirm("Are you sure you want to submit ?")) {
            document.getElementById('mystat').value = true;
        } else {
            document.getElementById('mystat').value = false;
        }
    }
</script>
