@model SARASWATIPRESSNEW.Models.Invoice
@{
    ViewBag.Title = "Challan List";
    Layout = "~/Views/Shared/_BdmsLayoutPage.cshtml";
}
<head>
    <!-- META SECTION -->
    <title>Invoice View</title>
    <script type="text/javascript" src="/resources/js/plugins/bootstrap/bootstrap-select.js"></script>
    <script type="text/javascript" src="/resources/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" id="theme" href="/resources/css/theme-default.css" />
    <link href="~/resources/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>

    <script src="~/Scripts/AppJs/MainAppJs.js"></script>
    <script src="~/Scripts/AppJs/InvoiceView.js"></script>

    @*<script type="text/javascript">
        $(document).ready(function () {
           
            $("#txtStartDate").datepicker({
                dateFormat: 'dd-M-yy'
            }).datepicker('setDate', new Date());

            $("#txtEndDate").datepicker({
                dateFormat: 'dd-M-yy'
            }).datepicker('setDate', new Date());
        });
    </script>*@

    <script type="text/javascript">
    $(document).ready(function () {
        $("#txtStartDate").datepicker({
            dateFormat: 'dd-M-yy'
        }).datepicker('setDate', new Date(new Date().setDate(new Date().getDate() - 60)));

        $("#txtEndDate").datepicker({
            dateFormat: 'dd-M-yy'
        }).datepicker('setDate', new Date());
        LoadSchoolDetails();
        // $('#btnView').click();  // previous 2 month modified on 20-12-18
    });
    </script>

</head>
<body>
    @*<div class="page-container">*@
        

        
        @using (Html.BeginForm("Index", "InvoiceView", FormMethod.Post, new { @id = "frmInvoiceView" }))
        {
            @*<div class="page-content">*@
                
                <!--End Notification -->
                <br />
                @*<div class="page-content-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <div class="panel panel-default">*@
                                    <div class="panel-heading">
                                        <table id="tablePost" style="width:100%" border="0">
                                            <tr>
                                                <td style="text-align:left;"><h3 class="panel-title"><strong>Invoice List</strong></h3></td>
                                                <td style="text-align:right;">@Session["sp_name"] [@Session["sp_user_name"]]</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="ErrorMsgContainer" style="width: 750px; vertical-align: text-top;"> </div>

                                    @*<div class="container">
                                        <div class="panel panel-default">
                                            <div class="panel-body">*@                                               
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label class="col-md-1 col-xs-6 control-label">@Html.Label("From Date")</label>
                                                        <div class="col-md-3 col-xs-12">
                                                            @Html.TextBoxFor(a => a.startDate, new { @id = "txtStartDate", @style = "width:180px", @maxlength = "15", @class = "form-control" })
                                                        </div>
                                                        <label class="col-md-1 col-xs-6 control-label">@Html.Label("To Date")</label>
                                                        <div class="col-md-3 col-xs-12">
                                                            @Html.TextBoxFor(a => a.endDate, new { @id = "txtEndDate", @style = "width:180px", @maxlength = "15", @class = "form-control" })
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <table id="tblBtn" cellpadding="0" cellspacing="0" border="0" style=" width:300px;">
                                                        <tr>
                                                            <td><input type="button" id="btnView" value="View" style="width: 100px" class="btn btn-info btn-block" /></td>
                                                            <td><input type="button" id="btnEmail" value="Export To Excel" onclick="ExportToExcel();" style="width: 120px" class="btn btn-info btn-block" /></td>
                                                        </tr>
                                                    </table>

                                                </div>
                                                @*<div class="panel-body">
                                                        <div class="form-group">
                                                            <button type="submit" id="btnView" style="width:100px;" name="Command" value="Draft" class="btn btn-info btn-block">View</button>
                                                        </div>
                                                    </div>*@
                                                <div style="width: 100%; height: 450px; overflow: scroll;">
                                                    <table id="tblInvCumChal" cellpadding="0" cellspacing="0" border="1" class="table basic" style="table-layout: fixed; width:1400px;">
                                                        <tr>                                                            
                                                            <th style='text-align:Center;width:150px;'>Print/Edit</th>
                                                            <th style='text-align:left;width:200px;'>Invoice No.</th>
                                                            <th style='text-align:Center;width:150px;'>Invoice Date</th>
                                                            <th style='text-align:left;width:200px;'>Category</th>
                                                            <th style='text-align:left;width:200px;'>Status</th>
                                                            <th style='text-align:left;width:200px;'>Last Updated By</th>
                                                            <th style='text-align:left;width:200px;'>Last Updated On</th>
                                                        </tr>                                                       
                                                    </table>
                                                </div>
                                            @*</div>
                                        </div>
                                    </div>*@
                                @*</div>
                            </form>
                        </div>
                    </div>
                </div>*@
            @*</div>*@
        }
   @* </div>*@
</body>


