@{
    ViewBag.Title = "Forgot Password";
   
}


<head>
    <!-- META SECTION -->
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" id="theme" href="/resources/css/theme-default.css" />
</head>
@using (Html.BeginForm("ResetPassword", "CircleLogin", FormMethod.Post))
{
    <body>
        <div class="login-container">
            <div class="login-box animated fadeInDown">
                <div>SSEI</div>
                <div class="login-body">
                    <div class="login-title"><strong>Reset Password</strong></div>

                    @if (ViewData["Message"] != null)
                    {
                        <div class="login-title">@ViewData["Message"]</div>
                    }

                    @if (ViewBag.IsOTPSent)
                    {
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="username" placeholder="User name" value="@ViewData["Username"]" />
                                <br />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" name="otp" placeholder="OTP" />
                                <input type="hidden" class="form-control" name="isOtpSent" value="@ViewBag.IsOTPSent" />
                                <br />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" name="newpassword" placeholder="New Password" />
                            </div>
                        </div>
                         
                        <div class="form-group">
                            <div class="col-md-6">
                                <br />
                                <button class="btn btn-info btn-block">Reset Password</button>
                            </div>
                            @* <div class="col-md-6">
                                <br />
                                <a href="/Login/Index" class="btn btn-info btn-block">Back</a>
                            </div>
                            <div class="col-md-12 text-center">
                                @Html.ActionLink("Forgot Password", "ForgotPassword");
                           
                            </div>*@
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="username" placeholder="User name" />
                                <input type="hidden" class="form-control" name="isOtpSent" value="@ViewData["IsOTPSent"]" />
                                <br />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <br />
                                <button class="btn btn-info btn-block">Reset Password</button>
                            </div>
                            @* <div class="col-md-6">
                                <br />
                                <a href="/Login/Index" class="btn btn-info btn-block">Back</a>
                            </div>
                            <div class="col-md-12 text-center">
                                @Html.ActionLink("Forgot Password", "ForgotPassword");
                           
                            </div>*@
                        </div>
                    }


                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; WB TEXT BOOK CORPORATION
                    </div>
                </div>
            </div>
        </div>
    </body>
   
}
@if (TempData["AppMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@(TempData["AppMessage"] as string)");
        };
    </script>
}

