@model IEnumerable<SARASWATIPRESSNEW.Models.Book_Master>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BdmsLayoutPage.cshtml";
}
<script>
    function ExportToExcel() {
        var url = "/Book_Master/ExportBookMasterData";
        window.location.href = url;
    }
    $(function () {
        $('.cblock').on('click',function () {
            debugger;
            var ischecked = $(this).prop('checked') ;
          //  alert(ischecked);
            var bookid = $(this).data('bookid');
            //alert(bookid);
            $.ajax({
                url: '@(Url.Action("LockThisBook", "Book_Master", new { area = "" }))',
                type: 'POST',
                data: { bookid: bookid, val: ischecked }
            }).done(function (data) {
                var str = (ischecked ? 'Book Locked' : 'Book UnLocked');
                alert(str);
            });
        });
    });


</script>
<div class="panel-heading">
    <h3 class="panel-title"><strong>Book Master</strong></h3>
</div>
<div class="panel-body">
    <table id="tblBtn" cellpadding="0" class="table" cellspacing="0" border="0" style="width: 100%;">
        <tr>
            <td><a href="/Book_Master/AddBook" style="width: 120px;" class="btn btn-info btn-block">Add Book</a></td>
            <td>
                <input type="button" id="btnEmail" value="Export To Excel" onclick="ExportToExcel();" style="width: 120px" class="btn btn-info btn-block" /></td>
        </tr>
    </table>
    <div style="width: 100%; height: 450px; overflow: scroll;">
        <table border="0" style="width: 3000px;" class="table">
            <tr>
                <th style="text-align: left;">Book Lock</th>
                <th style="text-align: left;">Book Code</th>
                <th style="text-align: left;">Category Name</th>
                <th style="text-align: left;">Language Name</th>
                <th style="text-align: left;">Class Name</th>
                <th style="text-align: left;">Book Name</th>
                <th style="text-align: left;">Book Rate</th>
                <th style="text-align: left;">Book Quantity</th>
                <th style="text-align: left;">Unit Price</th>
                <th style="text-align: left;">Challan Category</th>
                <th style="text-align: left;">Class Integer</th>
                <th style="text-align: left;">Surplus Quantity</th>
                <th style="text-align: left;">Surplus Mode</th>
                <th style="text-align: left;">HSN and SAC</th>
                <th style="text-align: left;">UQC</th>
                <th style="text-align: left;">CGST Rate</th>
                <th style="text-align: left;">SGST Rate</th>
                <th style="text-align: left;">IGST Rate</th>
                <th style="text-align: left; width: 50%;">Book Description</th>
                <th style="text-align: left;">Book Weight</th>

            </tr>
            @try
            {
                foreach (var objModel in Model)
                {
                <tr>
                    <td style="text-align: left">
                        <input  data-bookid="@objModel.BookID" class="cblock" type="checkbox" @(objModel.Book_Lock ? "checked='checked'" : "")  />

                    </td>
                    <td style="text-align: left">
                        <input id="hdId" value="@objModel.BookID" type="hidden" />
                        @objModel.BookCode
                    </td>
                    <td style="text-align: left">
                        @objModel.BookcategoryName
                    </td>
                    <td style="text-align: left">
                        @objModel.LanguageName
                    </td>
                    <td style="text-align: left">
                        @objModel.classname
                    </td>
                    <td style="text-align: left">
                        @objModel.BookName
                    </td>
                    <td style="text-align: left">
                        @objModel.rate
                    </td>
                    <td style="text-align: left">
                        @objModel.quantity
                    </td>
                    <td style="text-align: left">
                        @objModel.unitprice
                    </td>
                    <td style="text-align: left">
                        @objModel.ChallanBookcategoryName
                    </td>
                    <td style="text-align: left">
                        @objModel.classinteger
                    </td>
                    <td style="text-align: left">
                        @objModel.surplusquanity
                    </td>
                    <td style="text-align: left">
                        @objModel.surplusmode
                    </td>
                    <td style="text-align: left">
                        @objModel.hsnsac
                    </td>
                    <td style="text-align: left">
                        @objModel.uqc
                    </td>
                    <td style="text-align: left">
                        @objModel.cgstrate
                    </td>
                    <td style="text-align: left">
                        @objModel.sgstrate
                    </td>
                    <td style="text-align: left">
                        @objModel.igstrate
                    </td>
                    <td style="text-align: left">
                        @objModel.booknamedescription
                    </td>
                    <td style="text-align: left">
                        @objModel.Bookweight
                    </td>
                </tr>
                }
            }
            catch (Exception ex)
            {
                <tr>
                    <td style="text-align: center" colspan="3"></td>
                </tr>
            }
        </table>
    </div>
</div>
