@model SARASWATIPRESSNEW.Models.SchRequisitionView
@{
    ViewBag.Title = "SchRequisitionView";
    Layout = "~/Views/Shared/_BdmsLayoutPage.cshtml";

    SARASWATIPRESSNEW.UserSec objUser;
    try
    {
        objUser = Session["UserSec"] != null ? ((SARASWATIPRESSNEW.UserSec)Session["UserSec"]) : new SARASWATIPRESSNEW.UserSec();
    }
    catch (Exception)
    {
        objUser = new SARASWATIPRESSNEW.UserSec();
    }
}
<style type="text/css">
    table.divDataEntry td, th {
        padding: 4px 4px 4px 4px;
        vertical-align: top;
        border: 1px solid;
    }
</style>
<script type="text/javascript">

    $(function () {
        // modified on 24.12.18 

        //$('#btnView').click(function () {
        $(document).off("click", "#btnView").on("click", "#btnView", function (e) {
            var fromDate = $("#txtStartDate").val();
            var toDate = $("#txtEndDate").val();
            $("#btnView").prop("disabled", true);
            $.ajax({
                url: "/SchRequisionView/GetSchRequisionViewListData",
                type: 'POST',
                data: "@(objUser.UserType)" == "7" ? { startDate: fromDate, endDate: toDate, circleId: $("#ddlCircle").val() } : { startDate: fromDate, endDate: toDate },
                cache: false,
                success: function (data) {
                    var HtmlItems = "";

                    $.each(data, function (i, item) {
                        HtmlItems += "<tr>";
                        HtmlItems += "  <td style='text-align:center;'>";
                        if (item.SaveStatus == "0" || ("@(objUser.UserType)" == "7" && @(objUser.HasReqEditPermission) == 1)) {
                            HtmlItems += "      <a href='/TrxSchRequisition/ReqOperation/?ReqisitionId=" + item.RequisitionID + "&ReqisitionCode=" + item.RequisitionCode + "&Command=Edit&CircleId=" + ("@(objUser.UserType)" == "7" ? ($("#ddlCircle").val() * 1) : 0) + "'>Edit</a>";
                            if ("@(objUser.UserType)" != "7") {
                                HtmlItems += "      &nbsp;|&nbsp;<a href='#' onclick='return DeleteRequisition(" + item.RequisitionID + ", \"" + item.RequisitionCode + "\");'>Delete</a>";
                            }
                        }
                        else {
                            HtmlItems += "      <a href='/TrxSchRequisition/ReqOperation/?ReqisitionId=" + item.RequisitionID + "&ReqisitionCode=" + item.RequisitionCode + "&Command=Confirmed&CircleId=" + ("@(objUser.UserType)" == "7" ? ($("#ddlCircle").val() * 1) : 0) + "'>Confirmed</a>";
                        }
                        HtmlItems += "  </td>";

                        if (item.SaveStatus == "0") {
                            HtmlItems += "      <td style='text-align:center;width: 15%;'><input type='checkbox'  id='chk' name='check' value='" + item.RequisitionID + "' />&nbsp;&nbsp;&nbsp;" + item.RequisitionCode + "</td>";
                        } else {
                            HtmlItems += "      <td style='text-align:center;width: 4%;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + item.RequisitionCode + "</td>";
                        }

                        if (item.ISAPPROVED_DIST > 0) { // district approval
                            HtmlItems += "<td style='text-align:center;width: 12%;'><span class='badge badge-success'>Approved</span></td>";
                        } else {
                            HtmlItems += "<td style='text-align:center;width: 12%;'><span class='badge badge-warning'>Pending</span></td>";
                        }

                        HtmlItems += "  </td>";
                        if (item.ISAPPROVED > 0) {  // director approval
                            HtmlItems += "<td style='text-align:center;width: 12%;'><span class='badge badge-success'>Approved</span></td>";
                        } else {
                            HtmlItems += "<td style='text-align:center;width: 12%;'><span class='badge badge-warning'>Pending</span></td>";
                        }

                        if("@(objUser.UserType)" == "7")
                        {
                            HtmlItems += "  </td>";
                            if (item.ISAPPROVED_ADMIN > 0) {  // admin approval
                                HtmlItems += "<td style='text-align:center;width: 12%;'><span class='badge badge-success'>Approved</span></td>";
                            } else {
                                HtmlItems += "<td style='text-align:center;width: 12%;'><span class='badge badge-warning'>Pending</span></td>";
                            }
                        }

                       

                        
                        HtmlItems += "      <td style='text-align:center;width: 12%;'>" + item.RequisitionDate + "</td>";
                        HtmlItems += "      <td style='width: 12%;'>" + item.SchoolCode + "</td>";
                        HtmlItems += "      <td style='width: 18%;'>" + item.SchoolName + "</td>";
                        HtmlItems += "      <td style='width: 10%;'>" + item.LanguageName + "</td>";
                        HtmlItems += "      <td style='width: 12%;'>" + item.Category + "</td>";
                        HtmlItems += "      <td style='width: 10%;'>" + item.LastUpdatedOn + "</td>";
                        //HtmlItems += "      <td style='width: 11%;'>" + item.LastUpdatedBy + "</td>";
                        HtmlItems += "</tr>";
                    });

                    $('#tblBookDtl').html(HtmlItems);
                    $("#btnView").prop("disabled", false);
                },
                error: function (data) {
                    alert("Some Error Occured");
                    $("#btnView").prop("disabled", false);
                }
            });
        });
    });


    function ConfirmRequisition() {
        var _griddata = gridTojson();
        if (_griddata.trim() == "") {
            alert("Please select atleast one Requisition from the list.");
            return false;
        }
        if (confirm("Are you sure do you want to Confirm the Requisition?") == false) {
            return false;
        }
        $.ajax({
            url: "/SchRequisionView/ConfirmRequisition",
            type: 'POST',
            data: { griddata: _griddata },
            cache: false,
            success: function (data) {
                $('#btnView').click();
                alert(data);
            },
            error: function (data) {
            }
        });
    }
    function selectall(source) {
        checkboxes = document.getElementsByName('check');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    function gridTojson() {

        var json = '';
        var $ccol = [];
        checkboxes = document.getElementsByName('check');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            if (checkboxes[i].checked == true) {
                $ccol.push(checkboxes[i].value);
            }
        }
        json += $ccol.join(",") + '';

        return json;
    }
    function DeleteRequisition(RequisitionID, RequisitionCode) {
        if (confirm("Are you sure do you want to delete " + RequisitionCode + " requisition information!") == true) {
            $.ajax({
                url: "/SchRequisionView/DeleteRequisition",
                type: 'POST',
                data: { ReqisitionId: RequisitionID },
                cache: false,
                success: function (data) {
                    debugger;
                    console.log(data);
                    $('#btnView').click();
                    alert(data);

                    return true;
                },
                error: function (data) {
                }
            });
        }
        else {
            return false;
        }

    }

    function ExportHdrToExcel() {
        $.ajax({
            url: '@Url.Action("GetSchRequisionViewListDataToExcel", "SchRequisionView", new { area = "" })?startDate=' + $("#txtStartDate").val() + '&endDate=' + $("#txtEndDate").val() + "&circleId=" + ($("#ddlCircle").val() !== undefined ? $("#ddlCircle").val() : "-1"),
            type: 'GET'
        }).done(function (data) {
            if (data != null && data != "" && data.Filename != "") {
                window.location.href = '@Url.Action("Download", "SchRequisionView", new { area = "" })' + '/?file=' + data.Filename;
            } else {
                alert("Unable to generate file");
            }
        });
    }
</script>

<div class="panel-heading">
    <h3 class="panel-title">
        <strong>Book Requisition List</strong>
        <br />
        <small style="font-size: 14px; color: red;">Please Conmirm your valid Requisition for further processing.</small>
    </h3>
</div>
@if (objUser.UserType == "7")
{
    <div class="panel-body">
        <div class="form-group">
            <label class="col-md-1 col-xs-2 control-label">District</label>
            <div class="col-md-3 col-xs-6">
                <select id="ddlDistrict" class="form-control select2"></select>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-md-1 col-xs-2 control-label">Circle</label>
            <div class="col-md-3 col-xs-6">
                <select id="ddlCircle" class="form-control select2"></select>
            </div>
        </div>
    </div>
}
<div class="panel-body">
    <table id="tblBtn" class="table" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
        <tr>
            <td style="width: 15%;">@Html.Label("From Date")</td>
            <td style="width: 15%;">@Html.TextBoxFor(a => a.StartDate, new { @id = "txtStartDate", @style = "width:180px", @maxlength = "15", @class = "form-control" })</td>
            <td style="width: 15%;">@Html.Label("End Date")</td>
            <td style="width: 15%;">@Html.TextBoxFor(a => a.EndDate, new { @id = "txtEndDate", @style = "width:180px", @maxlength = "15", @class = "form-control" })</td>
            <td style="width: 25%;">
                <input type="button" id="btnView" value="View" style="width: 100px" class="btn btn-info btn-block" />
            </td>
            <td style="width: 15%;">
                <input type="button" id="btnEmail" value="Export To Excel" onclick="ExportHdrToExcel();" style="width: 120px" class="btn btn-info btn-block" />
            </td>
        </tr>
    </table>
    <div style="width: 100%; height: 50vh;">
        <table id="header" width="100%" class="divDataEntry" border="0">
            <tr>
                <td style='text-align: center; width: 8%;'>Edit  Delete</td>
                <td style='text-align: center; width: 12%;'>
                    <input type='checkbox' onclick='selectall(this)' />&nbsp;&nbsp;&nbsp;Requisition Code
                </td>
                <td style='text-align: center; width: 10%;'>District Approval</td>
                <td style='text-align: center; width: 10%;'>Director Approval</td>
                @if (objUser.UserType == "7")
                {
                    <td style='text-align: center; width: 10%;'>Admin Approval</td>
                }
                
                <td style='text-align: center; width: 10%;'>Requisition Date</td>
                <td style='width: 10%;'>School Code</td>
                <td style='width: 15%;'>School Name</td>
                <td style='width: 7%;'>Language</td>
                <td style='width: 10%;'>Category</td>
                <td style='width: 10%;'>Last Updated On</td>
                @*<td style='width: 12%;'>Last Updated By</td>*@
            </tr>
        </table>
        <div style="width: 100%; height: 42vh; overflow: scroll; margin-top: 0px; border: 2px solid #808080;">
            <table id="tblBookDtl" width="100%" border="0" class="table basic">
                <tr>
                    <td>Loading....</td>
                </tr>
            </table>
        </div>
    </div>

@if (objUser.UserType != "7")
{
    <table width="100%" border="0">
        <tr>
            <td style="width: 15%;">
                <button type="button" id="btnSubmit" name="Command" style="width: 120px;" onclick="ConfirmRequisition();" value="Submit" class="btn btn-mini btn-danger">Confirm</button>
            </td>
            <td style="width: 85%;">
                <p style='font-size: 12px; color: green;'>Select The requisition Check box and click on confirm button to confirm the requisition</p>
            </td>
        </tr>
    </table>
}
</div>
<script>
    $(document).ready(function () {
        var date = new Date();
        var dateNew = new Date();
        dateNew.setDate(dateNew.getDate() - 7);
        var firstDay = dateNew;

        $("#txtStartDate").datepicker({
            dateFormat: 'dd-M-yy'
        }).datepicker('setDate', firstDay);

        $("#txtEndDate").datepicker({
            dateFormat: 'dd-M-yy'
        }).datepicker('setDate', date);

        LoadDistrict();

        $('#btnView').trigger("click");
    });

    $(document).off("change", "#ddlDistrict").on("change", "#ddlDistrict", function (e) {
        LoadCircleByDistrict($(this).val());
        $('#tblBookDtl').empty();
    });

    $(document).off("change", "#ddlCircle").on("change", "#ddlCircle", function (e) {
        $('#btnView').trigger("click");
    });

    function LoadDistrict() {
        $.ajax({
            url: '@(Url.Action("GetDistrictDetails", "InvoiceCumChallan", new { area = "" }))',
            type: 'POST'
        }).done(function (data) {
            var list = document.getElementById("ddlDistrict");
            list.innerHTML = "";
            list.add(new Option("Select District", "-1"));
            if (data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    list.add(new Option(data[i].Text, data[i].Value));
                }
            }
        }).always(function (data) {
            if ($("#ddlDistrict").val() == "-1") {
                var list = document.getElementById("ddlCircle");
                list.innerHTML = "";
                list.add(new Option("Select Circle", "-1"));
            }
        });
    }

    function LoadCircleByDistrict(distId) {
        if (distId == "-1") {
            var list = document.getElementById("ddlCircle");
            list.innerHTML = "";
            list.add(new Option("Select Circle", "-1"));
        } else {
            $.ajax({
                url: '@(Url.Action("GetCircleDetailsOfaDistrict", "InvoiceCumChallan", new { area = "" }))',
                type: 'POST',
                data: { DistrictID: distId }
            }).done(function (data) {
                var list = document.getElementById("ddlCircle");
                list.innerHTML = "";
                list.add(new Option("Select Circle", "-1"));
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        list.add(new Option(data[i].Text, data[i].Value));
                    }
                }
                //LoadChallanDetails($("#txtStartDate").val(), $("#txtEndDate").val(), $("#ddlCircle").val(), $("#ddlDistrict").val());
            });
        }
    }
</script>
@if (TempData["AppMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@(TempData["AppMessage"] as string)");
        };
    </script>
}